@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  @font-face {
    font-family: 'Inter';
  }
  body,
  html {
    @apply box-border;
  }
  body {
    @apply text-base;
    @apply bg-blue-gray-light;
    @apply text-blue-dark;
  }
  h1,
  h2,
  h3 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl;
  }
  ul {
    @apply list-none;
  }
}

@layer components {
  .transactions-container {
    @apply mx-auto px-3 max-w-2xl mt-14;
  }
}
